<<<<<<< HEAD
<title>Home</title>
<div class ="span10">
	<div class = "well">
<h2><p> Looking for a movie to see over the weekend? 
</br>
</br>
Sign in, book a car, and go… " </p></h2>
<div>
</div>
=======
<title>home</title>
>>>>>>> b65ef4601fa6d2376f51d86ee02c9a50b176972d
